<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <script type="text/javascript" src="{% static 'jobs/script.js' %}"></script>
</head>

<body class="has-bg-img ">
 <img class=" my_img bg-img position-relative" src="{% static 'jobs/login_wallpaper.jpeg' %}" alt="background image" width="100%" height="100%">
    <div class="container d-flex justify-content-center position-absolute bottom-0 end-0 ">

        <div class="card m-2 rounded shadow text-black-50">
        <div class="card-header p-0 m-0 text-center p-1">
            <h5 class="text-success ">House Jobs</h5>
        </div>
            
            <div class="card-body text-center ">
                <form method="post">
                    {% csrf_token %}

                    <p class="my-3"> User Name {{ form.username}}</p>
                    <p class="my-3"> Password&nbsp;&nbsp; {{ form.password}}</p>
                    <input type="submit" value="Login" class="p-2 btn-success rounded w-100 my-3">
                </form>
            </div>
            <p class="ps-3"><a href="{% url 'jobs:reset' %}">Reset</a> your password or <a href="{% url 'jobs:register' %}">Register</a> </p>
        </div>

    </div>
</body>

</html>