{% extends "jobs/base.html" %} {% load static %} {% block user %} {{user.first_name}} {{user.last_name}} {% endblock user %} {% block content %}
<div class="container  p-5 m-5">
    <div class="row">


        <div class="col">
            <div class="card shadow">
                <div class="card-header">Today</div>
                <div class="card-body">
                    <p>Total money earned : </p>
                    <p>Total money missed : </p>

                </div>
                <div class="card-footer">Date </div>
            </div>

        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header">This Month</div>
                <div class="card-body">



                    <p>Total money earned : {% for d in data %}{% if d.my_total_this_mont.job_price__sum != None %} ${{d.my_total_this_mont.job_price__sum}}{% endif %} {% endfor %}</p>

                    <p>Total money missed : {% for d in data %}{% if d.unclaimed.job_price__sum != None %} ${{d.unclaimed.job_price__sum}} {% endif %}{% endfor %}</p>

                </div>
                <div class="card-footer">Date </div>
            </div>

        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header">This Year</div>
                <div class="card-body">
                    <p>Total money earned : </p>
                    <p>Total money missed : </p>

                </div>
                <div class="card-footer">Date </div>
            </div>

        </div>




    </div>



</div>
{% endblock content %} {% block sidebar %}
<!-- <div class="col"> -->

<div class="d-flex flex-row ">
    <div class="d-flex flex-row ">

        {% if user.is_staff %}
        <div class=" mt-2 mb-2 text-center align-content-center border-start shadow-sm">
            <a class="btn p-0" href="../admin/" style="width: 100%;">
                <div class="" style="width: 150px;">

                    <img class="m-2" src="{% static 'jobs/admin.png'%}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">Admin Access</p>

                        <form id="3" class="m-0 p-0" action="{% url 'jobs:mark_not_done' %}" method='post'>
                            {% csrf_token %}
                            <input type="radio" id="accept2" name="Choice" value=0 checked style="display: none;">
                            <label for="accept2" style="display: none; "> Reset Jobs</label>


                            <input type="submit" value="Reset Jobs" class="btn text-success m-0 p-0">
                        </form>


                    </div>
                </div>

            </a>
        </div>

        {% endif %}
        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <a class="btn p-0" style="width: 100%;" href="#">
                <div class="" style="width: 150px;">
                    <img class="m-2" src="{% static 'jobs/dashboard.png' %}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">My Dashboard</p>
                        <i class="btn text-black-50 fs-6">&nbsp;</i>
                    </div>
                </div>
            </a>


        </div>

    </div>
</div>


{% endblock sidebar %}