{% extends "jobs/base.html" %} {% load static %} {% block user %} {{user.first_name}} {{user.last_name}} {% endblock user %} {% block content %}
<div class="container  p-5 m-5">
    <div class="row">
        <p>{{date_today.date}}</p>

        <div class="col">
            <div class="card shadow">
                <div class="card-header">Today</div>
                <div class="card-body">
                    {% if my_total_this_day.job_price__sum == None %}
                    <p>Total money earned : $0</p>
                    {% else %}
                    <p>Total money earned : ${{my_total_this_day.job_price__sum}}</p>
                    {% endif %} {% if unclaimed_this_day.job_price__sum == None %}
                    <p>Total money missed : $0</p>
                    {% else %}
                    <p>Total money missed : ${{unclaimed_this_day.job_price__sum}}</p>
                    {% endif %}

                </div>
                <div class="card-footer"></div>
            </div>

        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header">This Month</div>
                <div class="card-body">
                    {% if my_total_this_month.job_price__sum == None %}
                    <p>Total money earned : $0</p>
                    {% else %}
                    <p>Total money earned : ${{my_total_this_month.job_price__sum}}</p>
                    {% endif %} {% if unclaimed_this_month.job_price__sum == None %}
                    <p>Total money missed : $0</p>
                    {% else %}
                    <p>Total money missed : ${{unclaimed_this_month.job_price__sum}}</p>
                    {% endif %}

                </div>
                <div class="card-footer"></div>
            </div>

        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header">This Year</div>
                <div class="card-body">
                    {% if my_total_this_year.job_price__sum == None %}
                    <p>Total money earned : $0</p>
                    {% else %}
                    <p>Total money earned : ${{my_total_this_year.job_price__sum}}</p>
                    {% endif %} {% if unclaimed_this_year.job_price__sum == None %}
                    <p>Total money missed : $0</p>
                    {% else %}
                    <p>Total money missed : ${{unclaimed_this_year.job_price__sum}}</p>
                    {% endif %}
                </div>
                <div class="card-footer"></div>
            </div>

        </div>




    </div>



</div>
{% endblock content %} {% block sidebar %}
<!-- <div class="col"> -->

<div class="d-flex flex-row ">
    <div class="d-flex flex-row ">

        {% if user.is_staff %}
        <div class=" mt-2 mb-2 text-center align-content-center border-start shadow-sm">
            <a class="btn p-0" href="../admin/" style="width: 100%;">
                <div class="" style="width: 150px;">

                    <img class="m-2" src="{% static 'jobs/admin.png'%}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">Admin Access</p>

                        <form id="3" class="m-0 p-0" action="{% url 'jobs:mark_not_done' %}" method='post'>
                            {% csrf_token %}
                            <input type="radio" id="accept2" name="Choice" value=0 checked style="display: none;">
                            <label for="accept2" style="display: none; "> Reset Jobs</label>


                            <input type="submit" value="Reset Jobs" class="btn text-success m-0 p-0">
                        </form>


                    </div>
                </div>

            </a>
        </div>


        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <a class="btn p-0" style="width: 100%;" href="{% url 'jobs:new_job' %}">
                <div class="" style="width: 150px;">
                    <img class="m-2" src="{% static 'jobs/new_job.png' %}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">New Jobs</p>
                        <i class="btn text-black-50 fs-6">&nbsp;</i>
                    </div>
                </div>
            </a>


        </div>
        {% endif %}
        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <a class="btn p-0" style="width: 100%;" href="#">
                <div class="" style="width: 150px;">
                    <img class="m-2" src="{% static 'jobs/dashboard.png' %}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">My Dashboard</p>
                        <i class="btn text-black-50 fs-6">&nbsp;</i>
                    </div>
                </div>
            </a>


        </div>

    </div>
</div>


{% endblock sidebar %}