{% extends "jobs/base.html" %} {% block user %}
{{user.first_name}} {{user.last_name}} {% endblock user %} {% block detail %}

<div class="container">

    {% if detail %}
    <div class="row justify-content-center">

        <div class="col-6 ">
            <h2 class="py-4 text-start text-black-50">Job Details</h2>

            <div class="card mb-4 shadow " style="width: 30rem;">
                <a class="btn p-0" href="../" style="width: 100%;">
                    <div class="card-body p-0">
                        <div class="card-header d-flex ps-2 m-0 bg-gray  justify-content-between">
                            Job ID : {{detail.id}}

                            <p class="text-black-50 ">Posted by : <strong>{{detail.job_creator.first_name}}</strong> </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title p-3 text-secondary">{{ detail.job_title }}</h3>

                            <h2 class="text-danger p-3">${{detail.job_price}}</h2>

                        </div>
                        <div class="p-3 text-start">

                            <p></p>
                            <strong class="text-secondary">Job Description</strong>
                            <p class="text-black-50">{{detail.job_detail}}</p>

                            <strong class="text-secondary">Job Status</strong> {% if detail.job_done %}
                            <p class="text-black-50">This job is done by <strong>{{detail.job_taker.first_name}}</strong> </p>
                            {% elif detail.job_taken %}
                            <p class="text-black-50">This job is taken by <strong>{{detail.job_taker.first_name}}</strong> </p>
                            {% else %}
                            <p class="text-black-50">No one has taken this job yet</p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-footer bg-gray mt-2 text-dark-50 text-start">
                        <p><small class="card-text ">Posted On : <strong>{{detail.publish_date}}</strong></small></p>
                        {% if detail.job_done %}
                        <p><small class="card-text">Finished On : <strong>{{detail.job_done_date}}</strong></small></p>
                        {% else %}
                        <p></p>
                        {% endif %}


                    </div>
                </a>
            </div>
        </div>
    </div>

    {% else %}
    <div class="card-body">
        <h2 class="card-title">No data available.</h2>
    </div>

    {% endif %}
</div>
{% endblock detail %}