{% extends "jobs/base.html" %} {% load static %} {% block user %} {{user.first_name}} {{user.last_name}}{% endblock user %} {% block content %}
<div class="conatiner bg-success text-light text-center">

    <h5 class="p-1 m-0"> {{date_today.date}}</h5>
</div>
{% if user.is_staff %}
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50">Jobs available this month </h5>


    <div class="row justify-content-start flex-wrap">

        {% if job_list %} {% for q in job_list %}
        <div class="card ms-4 mb-3 shadow rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">

                <div class="card-body p-0">


                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.publish_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>
                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>
                    <!-- <p class="text-dark">{{q.job_detail}}</p> -->

            </a>

            </div>
        </div>
        {% endfor %} {% else %}

        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">

            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">No jobs available</p>
            </div>
        </div>
        {% endif %}

    </div>

</div>

<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50">Jobs taken this month</h5>
    <div class="row">
        {% if all_unfinished_jobs %} {% for q in all_unfinished_jobs %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.publish_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>

                    <p class="text-black-50">Taken by : {{q.job_taker.first_name}}</p>
            </a>

            </div>

        </div>



        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>

</div>

<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs for your review this month</h5>
    <div class="row">
        {% if jobs_under_review %} {% for q in jobs_under_review %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                    <p class="text-black-50">Done by : {{q.job_taker.first_name}}</p>


                </div>
            </a>
            <div class="d-flex d-flex-row justify-content-start p-0 rounded-bottom">
                <form id='form4' class="px-1 mt-1 text-center bg-info" action="{% url 'jobs:review_done' %}" method='post'>
                    {% csrf_token %}

                    <input type="radio" id="accept" name="Choice" value="{{q.id}}" checked style="display: none;">
                    <label for="accept" style="display: none;"> Accept</label>
                    <!-- <input type="radio" id="reject" name="Choice" value="-2">
                    <label for="reject"> Reject</label> -->
                    <input type="submit" value="Approve" class="btn btn-info text-white fs-6" style="width: 100%;">
                </form>
                <form id="form5" class="px-3 mt-1" action="{% url 'jobs:review_done' %}" method='post' style="background-color:rgb(247, 138, 111); width: 50%;">
                    {% csrf_token %}
                    <input type="radio" id="accept2" name="Choice" value=-{{q.id}} checked style="display: none;">
                    <label for="accept2" style="display: none;"> Reject Job</label>


                    <input type="submit" value="Reject" class="btn text-white" style="background-color:rgb(247, 138, 111);">
                </form>

            </div>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs approved by you this month</h5>
    <div class="row">
        {% if jobs_acceptably_done %} {% for q in jobs_acceptably_done %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                    <p class="text-black-50">Done by : {{q.job_taker.first_name}}</p>


                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs rejected by you this month</h5>
    <div class="row">
        {% if jobs_review_rejected_by_admin %} {% for q in jobs_review_rejected_by_admin %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                    <p class="text-black-50">Done by : {{q.job_taker.first_name}}</p>


                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs that you paid this month</h5>
    <div class="row">
        {% if jobs_paid %} {% for q in jobs_paid %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% else %}
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50">Jobs available today</h5>


    <div class="row justify-content-start flex-wrap">

        {% if job_list %} {% for q in job_list %}
        <div class="card ms-4 mb-3 shadow rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">

                <div class="card-body p-0">


                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.publish_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>
                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>
                    <!-- <p class="text-dark">{{q.job_detail}}</p> -->

            </a>
            <form class="text-center bg-info rounded-bottom" action="{% url 'jobs:payments' %}" method='post'>
                {% csrf_token %}

                <input type="radio" id="accept" name="Choice" value="{{q.id}}" checked style="display: none;">
                <label for="accept" style="display: none;"> Accept</label>
                <!-- <input type="radio" id="reject" name="Choice" value="-2">
                <label for="reject"> Reject</label> -->
                <input type="submit" value="Accept" class="btn btn-info text-white fs-6" style="width: 100%;">
            </form>
            </div>
        </div>
        {% endfor %} {% else %}

        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">

            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">No jobs available</p>
            </div>
        </div>
        {% endif %}

    </div>

</div>

<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50">Jobs you accepted today</h5>
    <div class="row">
        {% if my_unfinished_jobs %} {% for q in my_unfinished_jobs %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.publish_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>

                    <!-- <p class="text-dark">{{q.job_detail}}</p> -->
            </a>
            <div class="d-flex d-flex-row justify-content-start p-0">
                <form id="1" class="px-3 mt-1" action="{% url 'jobs:mark_done' %}" method='post' style="background-color:gray; width: 50%;">
                    {% csrf_token %}


                    <input type="radio" id="accept" name="Choice" value={{q.id}} checked style="display: none;">
                    <label for="accept" style="display: none;"> Mark Done</label>

                    <input type="submit" value=" Done " class="btn text-white" style="background-color:gray;">
                </form>
                <form id="2" class="px-3 mt-1" action="{% url 'jobs:mark_not_done' %}" method='post' style="background-color:darkgray; width: 50%;">
                    {% csrf_token %}
                    <input type="radio" id="accept2" name="Choice" value=-{{q.id}} checked style="display: none;">
                    <label for="accept2" style="display: none;"> Return Job</label>


                    <input type="submit" value="Return" class="btn text-white" style="background-color:darkgray;">
                </form>

                <!-- <a class="btn bg-info" role="button" href="{% url 'jobs:payments' %}">Action</a> -->
            </div>
            </div>

        </div>



        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>

</div>
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs under review this month</h5>
    <div class="row">
        {% if my_jobs_under_review %} {% for q in my_jobs_under_review %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>




                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs that passed review this month</h5>
    <div class="row">
        {% if my_jobs_acceptably_done %} {% for q in my_jobs_acceptably_done %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h5 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h5>




                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>




</div>
<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs rejected this month</h5>
    <div class="row">
        {% if my_jobs_review_rejected_by_admin %} {% for q in my_jobs_review_rejected_by_admin %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container bg-light">
    <h5 class="mt-4 mb-4 pt-3 text-black-50"> Jobs that were paid this month</h5>
    <div class="row">
        {% if jobs_paid %} {% for q in jobs_paid %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;">
                <div class="card-body p-0 ">
                    <div class="d-flex justify-content-between">
                        <small class="card-text text-black-50 mt-1 ms-1">{{q.job_done_date.date}}</small>
                        <h3 class="text-danger mt-1 me-1 "><small>$</small>{{q.job_price}}</h3>
                    </div>

                    <h3 class="card-title pb-3 text-center text-black-50">{{ q.job_title }}</h3>

                </div>
                <a class="btn p-0" href="{% url 'jobs:detail' q.id%}" style="width: 100%;"></a>
        </div>

        {% endfor %} {% else %}
        <div class="card ms-4 mb-3 shadow bg-body rounded p-0" style="width: 12rem;">
            <div class="card-body mt-2 pb-0">
                <p class="card-title pb-3 text-center text-black-50">Nothing here</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endif %} {% endblock content %} {% block sidebar %}
<!-- <div class="col"> -->

<div class="d-flex flex-row ">
    <div class="d-flex flex-row ">

        {% if user.is_staff %} {% endif %}
        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <a class="btn p-0" style="width: 100%;" href="{% url 'jobs:dashboard' %}">
                <div class="" style="width: 150px;">
                    <img class="m-2" src="{% static 'jobs/dashboard.png' %}" style="width: 36px; height: 36px;" alt="Card image">
                    <div class="">
                        <p class="m-0 text-black-50 fs-6">My Dashboard</p>
                        <p class="text-black-50 fs-6">

                        </p>



                    </div>
                </div>
            </a>


        </div>


        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <div class="" style="width: 150px;">
                <img class="m-2" src="{% static 'jobs/unclaimed.png'%}" style="width: 36px; height: 36px;" alt="Card image">
                <div class="">
                    <p class="m-0 text-black-50 fs-6">Grab More</p> {% if unclaimed.job_price__sum != None %}
                    <p class="text-black-50 fs-6">${{unclaimed.job_price__sum}}</p>
                    {% else %}
                    <p class="text-black-50 fs-6">$0</p>
                    {% endif %}


                </div>
            </div>


        </div>

        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <div class="" style="width: 150px;">
                <img class="m-2" src="{% static 'jobs/underreview.png'%}" style="width: 36px; height: 36px;" alt="Card image">
                <div class="">

                    <p class="m-0 text-black-50">Under Review</p> {% if my_money_under_review_this_month.job_price__sum != None %}
                    <p class="text-black-50 fs-6">${{my_money_under_review_this_month.job_price__sum}}</p>


                    {% else %}
                    <p class="text-black-50 fs-6">$0</p>
                    {% endif %}

                </div>
            </div>


        </div>


        <div class=" mt-2 mb-2  text-center border-start shadow-sm">
            <div class="" style="width: 150px;">
                <img class="m-2" src="{% static 'jobs/mymoney.png'%}" style="width: 36px; height: 36px;" alt="Card image">
                <div class="">
                    {% if user.is_staff %}
                    <p class="m-0 text-black-50">

                        Payments Due

                    </p>
                    {% else %}
                    <p class="m-0 text-black-50">Your Money</p>
                    {% endif %} {% if my_total_this_mont.job_price__sum != None %}
                    <p class="text-black-50 fs-6">${{my_total_this_mont.job_price__sum}}</p>
                    {% else %}
                    <p class="text-black-50 fs-6">$0</p>
                    {% endif %}


                </div>
            </div>


        </div>


    </div>
    <!-- </div> -->

</div>

{% endblock sidebar %}