{% extends "jobs/base.html" %}
{% block content %}
<h3>Unfinished jobs for {{user}}</h3> 
    {% if payment_list %}
    {% comment %} {{payment_list.values}}  {% endcomment %}
    {% for q in payment_list %}
   
<div class="card mb-4 " style="width: 18rem;">
        
    <div class="card-body">
        {{q.id}}
        <small class="card-text">{{q.publish_date}}</small>
        <h3 class="card-title">{{ q.job_title }}</h3> 
        <p>{{q.job_detail}}</p>
        <p>${{q.job_price}}</p>
        <form action="{% url 'jobs:mark_done' %}" method='post'>
            {% csrf_token %}
            <p> Select your choice for this job</p>
            
            <input type="radio" id="accept" name="Choice" value={{q.id}}>
            <label for="accept"> Mark Done</label>
            <input type="radio" id="reject" name="Choice" value=-{{q.id}}>
            <label for="reject"> Can't Do Job</label>
            
            <input type="submit" value="Submit" class="btn btn-success">
    
    {% comment %} <a href="{% url 'jobs:index'%}" class="btn btn-success">Mark as done</a>
    <a href="{% url 'jobs:index'%}" class="btn btn-danger">Quit this job</a> {% endcomment %}


  </div>
          {% endfor %}
    {% else %}
    <div class="card-body">
        <h2 class="card-title">No data available.</h2>
        </div>
    {% endif %}

</div>
{% endblock content %}


